@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Testimonials styles */
@media (max-width: 640px) {
  .testimonial-container {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (min-width: 641px) {
  .testimonial-container {
    width: 200%;
    overflow-x: hidden;
  }
}

